* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../media/backgronds/login_signup_home.jpg');
    background-size: contain;
    background-color: #f5f5f5;
}

h1 {
    font-size: 200px;
    color: #fff;
  }

img {
    height: 93px;
    width: 538px;
    object-fit: none;
}

header {
    display: flex;
    align-items: justify;
    justify-content: space-between;
    background-color: #0d1a2c;
    color: #fff;
    padding: 15px 20px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

h1 {
    font-size: 18px;
    margin: 0;
}

nav{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

nav a.auth {
    background-color: #0d1a2c;
    padding: 5px 10px;
    border-radius: 4px;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    align-items: left;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-box input {
    padding: 12px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 25px 0 0 25px;
    width: 600px;
}

.search-icon{
    height: 20px;
    width: 20px;
}

.search-box button {
    padding: 12px;
    background-color: #ffffff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-box button:hover {
    background-color: #1d3c66;
}

.book-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.book-placeholder {
    width: 100px;
    height: 150px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #555;
}

footer {
    background-color: #0d1a2c;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer  {
    font-size: 14px;
    margin: 5px 0;
}
