* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #0d1a2c;
    background-size: contain;
    background-repeat: round;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    background-color: #fff;
    width: 470px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.menu-icon {
    font-size: 24px;
    margin-right: 10px;
}

h1 {
    font-size: 18px;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0d1a2c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #1d3c66;
    transition-duration: 0.2s;
}

.button.secondary {
    background-color: #555;
}

p {
    font-size: 12px;
    color: #555;
    margin-top: 15px;
}

a {
    text-decoration: none;
}