main {
    display: flex;
    justify-content: center;
}

/* Form container styling */
#location-form {
    background-color: #12263f; /* Slightly lighter shade than body background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input and select field styling */
#location-form input, 
#location-form select, 
#location-form button,
#location-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #1c3a57; /* Border matches the form background */
    background-color: #16324a; /* Input background matches the theme */
    color: #e0e0e0;
    font-size: 14px;
}

/* Input focus styling */
#location-form input:focus, 
#location-form select:focus,
#location-form textarea:focus {
    outline: none;
    border-color: #4ea1d3; /* Brighter border for focus */
    box-shadow: 0px 0px 5px rgba(78, 161, 211, 0.8);
}

/* Label styling */
#location-form label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    color: #ffffff; /* Keeps labels readable */
}

/* Button styling */
#location-form button {
    background-color: #e18e00; /* Brighter blue for contrast */
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#location-form button:hover {
    background-color: #ed9600;
    box-shadow: 0px 4px 15px rgba(235, 107, 3, 0.532);
}

/* Dividers between input fields */
#location-form div {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px !important;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
    border: 2px solid #1c3a57; /* Border matches the form background */
    background-color: #16324a; /* Input background matches the theme */
    color: #e0e0e0;
    font-size: 14px;
}

/* Add rounded corners for all elements */
input, select, button, textarea {
    border-radius: 5px;
}

div.book_icon img{
    width: 100%; 
}

#suggestionList {
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 64px;
    width: inherit;
    background: #12263f;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 5px;
    color: #ffffff91;
}

#suggestionList li {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

#suggestionList li:hover {
    background: #7a8da1;
}

textarea{
    max-width: 100%;
    min-width: 100%;
    height: fit-content;
}