{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/delete_book.css') }}">
{% endblock %}
{% block content %}
<main id="main">
    <form id="delete_book-form" method="POST" enctype="multipart/form-data">
        <div class="book_icon">
            <img src="{{  url_for('static', filename='media/icons/deleteauthor.png')  }}" alt="icon">   
        </div>
        <div>
            <label for="author_name">Author:</label>
            <input type="text" id="author_name" name="name" required>
        </div>
        <button type="submit">Delete</button>
    </form>
</main>
{% endblock %}