<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Book Architects Library</title>
    <link rel="icon" type="image/x-icon" href="{{  url_for('static', filename='media/icons/small_icon.ico')  }}">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/login_signup.css')  }}">
</head>

<body>
    <div class="container">
        <img src="{{  url_for('static', filename='media/icons/full_icon_white.png')  }}" alt="icon">
        <div class="form-container">
            <h2>Log In</h2>
            <form method="POST">
                <input type="text" placeholder="e-mail" class="input-field" id="email" name="email" required>
                <input type="password" placeholder="Password" class="input-field" id="password" name="password"
                    required>
                <select class="input-field" id="user_type" name="type" required>
                    <option value="" disabled selected hidden>Select User Type</option>
                    <option value="member">Member</option>
                    <option value="admin">Admin</option>
                </select>
                <button class="button secondary" id="logInButton" type="submit">Log In</button>
            </form>
            <p><a href="/home_page">Continue as Guest.</a></p>
        </div>
        <h2 style="color: aliceblue;">{{error}}</h2>
    </div>
    <div class="bg-image">
        <img src="{{  url_for('static', filename='media/backgrounds/login_signup_home.png')  }}" alt="">
    </div>
    <script src="{{  url_for('static', filename='js/log_in.js')  }}"></script>
</body>

</html>