{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/update_book.css') }}">
{% endblock %}
{% block content %}
<main id="main">
    <form id="update_book-form" method="POST" enctype="multipart/form-data">
        <div class="book_icon">
            <img src="{{  url_for('static', filename='media/icons/updatebook.png')  }}" alt="icon">   
        </div>
        <div>
            <label for="book_title">Book Title:</label>
            <input type="text" id="book_title" name="title" required>
        </div>
        <div>
            <label for="book_preface">Book Preface:</label>
            <input type="text" id="book_preface" name="preface" required>
        </div>
        <div>
            <label for="publisher_name">Publisher:</label>
            <input type="text" id="publisher_name" name="publisher_name" required>
        </div>
        <div>
            <label for="vendor_name">Vendor:</label>
            <input type="text" id="vendor_name" name="vendor_name" required>
        </div>
        <div>
            <label for="shelf_id">Shelf Id:</label>
            <input type="text" id="shelf_id" name="shelf_id" required>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required>
        </div>
        <div>
            <label for="availability">Availability: </label>
            <input type="text" id="availability" name="availability" required>
        </div>
        <div>
            <label for="date_of_publishing">Date of Publishing: </label>
            <input type="date" id="date_of_publishing" name="date_of_publishing">
        </div>
        <div>
            <label for="shelf_date">Shelf Date: </label>
            <input type="date" id="shelf_date" name="shelf_date">
        </div>
        <div>
            <label for="bought_on">Bought On: </label>
            <input type="date" id="bought_on" name="bought_on">
        </div>
        <button type="submit">Update</button>
    </form>
</main>
{% endblock %}