{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/update_book.css') }}">
{% endblock %}
{% block content %}
<main id="main">
    <form id="update_book-form" method="POST" enctype="multipart/form-data">
        <div class="book_icon">
            <img src="{{  url_for('static', filename='media/icons/updateauthor.png')  }}" alt="icon">   
        </div>
        <div>
            <label for="author_name">Author:</label>
            <input type="text" id="author_name" name="name" required>
        </div>
        <div>
            <label for="author_dob">Date of Birth: </label>
            <input type="date" id="author_dob" name="dob" required>
        </div>
        <div>
            <label for="author_origin">Author Origin:</label>
            <input type="text" id="author_origin" name="origin" required>
        </div>
        <div>
            <label for="about">About:</label>
            <input type="text" id="about" name="about" required>
        </div>
        <button type="submit">Update</button>
    </form>
</main>
{% endblock %}